* {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  margin: 0;
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 90%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  background-color: #50382B;
  color: #FEF3EC;
}

.card-img {
  object-fit: cover;
  object-position: center;
  flex-basis: 300px;
  min-width: 0;
  min-height: 0;
}

.card-content {
  padding: 1.5em;
}

.card-title,
.card-read-time,
.card-btn {
  font-family: Blinker, sans-serif;
}

.card-title {
  font-size: 1.75rem;
  color: #F2E2C8;
  margin: 0;
}

.card-body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

.card-footer {
  margin-top: 5em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card-read-time {
  opacity: 0.6;
  margin: 0;
  line-height: 1;
  padding-right: .5em;
}

.card-read-time span {
  display: block;
}

.card-read-time-number {
  font-size: 1.4em;
  font-weight: 700;
}

.card-btn {
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 1px;
  color: #50382B;
  background-color: #F2E2C8;
  padding: .5em 1.5em;
  transition: transform 250ms, background-color 50ms;
}

.card-btn:hover,
.card-btn:focus {
  color: #F2E2C8;
  background-color: #50382B;
  cursor: pointer;
  transform: scale(1.2);
}

@media (min-width: 630px) {
  .card {
    flex-direction: row;
  }

  .card-title {
    font-size: 2.25rem;
  }

  .card-body {
    font-size: 1.125rem;
    max-width: 500px;
  }
}

